# Keep the worlds folder, but don't include anything except ".gitkeep"
/data/worlds/*
!.gitkeep

# Ignore everything in the user files folder except the do not delete file
/!user_files/*
!DO_NOT_DELETE!.txt

# Ignore everything in the logs folder except ".gitkeep"
/data/logs/*
!.gitkeep

# Ignore other misc LunarLuna build files that's used for debugging
/data/LunaDll.exp
/data/LunaDll.lib
/data/LunaDll.map
/data/LunaDll.pdb
/data/LunaLoader.iobj
/data/LunaLoader.ipdb
/data/LunaLoader.pdb

# Ignore editor files that's set by the user
data/PGE/settings/pge_editor.ini
