# Keep the worlds folder, but don't include anything except ".gitkeep"
/data/worlds/*
!.gitkeep

# Ignore everything in the user files folder except the do not delete file
/!user-files/*
!DO_NOT_DELETE!.txt

# Ignore everything in the logs folder except ".gitkeep"
/data/logs/*
!.gitkeep

# Ignore other misc LunarLuna build files that's used for debugging
/data/LunaDll.exp
/data/LunaDll.lib
/data/LunaDll.map
/data/LunaDll.pdb
/data/LunaLoader.iobj
/data/LunaLoader.ipdb
/data/LunaLoader.pdb
/data/LunaDll.ilk

# Ignore editor files that's set by the user
data/PGE/settings/pge_editor.ini

# Ignore any other configs on the editor
data/PGE/configs/TheXTech-SDK
data/PGE/settings/pge_editor_config_TheXTech-SDK.ini

# Ignore all screenshots and GIFs, but keep the folders
data/screenshots
!.gitkeep
data/gif-recordings
!.gitkeep
