@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700);

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	background-color: #f1f1f1;
	overflow-x: hidden;
	overflow-y: hidden;
	color: #2e3641;
	font-family: 'Open Sans';
	font-size: 0.825em;
	display: flex;
	flex-direction: column;
}


table {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	border-width: 0;
}
td {
	padding: 0;
}

#internetBar {
	width:100%;
	height: 40px;
	background:  #50b6eb;
	color: white;
	line-height: 40px;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#updateBar {
	width:100%;
	height: 40px;
	background:  #e09665;
	color: white;
	line-height: 40px;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	transition: background-color 0.2s;
}

#updateBar:hover {
	background: #f0a675;
}

#updateBarEpisode {
	width:100%;
	height: 30px;
	background:  #2d79d2;
	color: white;
	line-height: 30px;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	cursor: pointer;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	transition: background-color 0.2s;
}

#updateBarEpisode:hover {
	background: #4d99e2;
}

#loaderCover {
	position:fixed;
	width:100%;
	height:100%;
	background: white;
	z-index: 100
}

#loadingText {
	font-size: 2em;
	color: lightgray;
	padding: 40px;
	display: none;
}

#controlSection {
	padding: 5px;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex: 1;
}
#iframer, #achievementCenter {
	margin: 0;
	padding: 0;
	flex: 1;
}
.centeredSection {
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	display: flex;
	width: 100%;
}
@media only screen and (max-width: 615px) {
	.centeredSection {
		flex-direction: column;
	}
}
.buttons, .miniButtons, .playButton, .createButton {
	display: inline-block;
    vertical-align: center;
    color: #fff;
	cursor: pointer;
    line-height: 21px;
    font-weight: bold;
    background-color: #50b6eb;
	border: none;
	transition: background-color 0.2s;
}

.buttons, .playButton, .createButton {
	margin: 0 5px;
	margin-top:5px;
	width: 100%;
	padding: 8px 5px;
	font-size: 17px;
}

.playButton {
    background:url("play.svg");
	background-color:#1abc9c;
	background-repeat:no-repeat;
	background-position: right 10px center;
	background-size: 24px 24px;
}

.createButton {
    background:url("create.svg");
    background-color: #e09665;
	background-repeat:no-repeat;
	background-position: right 10px center;
	background-size: 24px 24px;
}

.createButton:hover {
	background-color: #d9825f;
}

.playButton:hover {
	background-color: #19a98c;
}

.miniButtons {
	margin: 3px;
	padding: 2px 5px;
	font-size: 12px;
	height: 41px;
}
.buttons:hover, .miniButtons:hover {
	background-color: #a5e0ff;
}
.otherStuff {
	overflow-y: none;
	display: flex;
	color: black;
	font-weight: bold;
	font-size: 20px;
	position: relative;
}
.leftIcons, .rightIcons {
	display: flex;
	flex: 1;
	margin-top: 2px;
	max-width:100px;
	white-space: nowrap;
}

.leftIcons {
	justify-content: flex-start;
	min-width: 120px;
}

.rightIcons {
	justify-content: flex-end;
}


#centreControls {
	display: flex;
	flex: 2;
	justify-content: center;
	max-width: 800px;
	min-width: 420px;
	margin:0px;
	margin-top: 2px;
}

#playControlButtons {
	/*width: 100%;*/
	max-width:400px;
	min-width:150px;
	width: 50vw;
	display: table;
	padding-bottom: 8px;
	padding-right: 10px;
	text-align:right;
}

#playControlButtons .td {
	padding: 8px;
}

#leftSideConfig {
	margin-top:-1px;
	min-width: 260px;
}

.rightIcons .rightAligner {
	margin-left: auto;
	display: flex;
}
.otherStuff::after {
	content: "";
	opacity: 0.4;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	/*background-image: url('hills.svg');
	background-size: cover;
	background-repeat: no-repeat;*/
	background:#a5e0ff;
}
#columnedContent {
	display: flex;
	height: 100%;
	flex: 1;
}

#stripContainer {
	padding-top: 100px;
	margin-top: -100px;
	overflow-x: auto;
	overflow-y: visible;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#stripBG {
	/*
	background-size: cover;
	background-repeat: no-repeat;
	background:linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('hills.svg');
	*/
	background:#a5e0ff;
	border-top: 2px solid #50b6eb;
	height: 100px;
	width:100%;
	position: fixed;
	z-index:-10;
}

#bottomStrip {
	display: flex;
	justify-content:space-between;
	height: 100px;
	width:100%;
	z-index: 10;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#leftColumn, #rightColumn {
	display: none;
	min-width: 200px;
	max-width: 600px;
	width: 25%;
	overflow: auto;
	background-image: url('light-background.png');
	background-size: auto;
}

#rightColumn {
	background-color: #f2f3f4;
}

/*
#leftColumn {
	border-right: 3px solid black;
}

#rightColumn {
	border-left: 3px solid black;
}
*/

#controlLayout input:not([type=button]):not([type=checkbox]):not([type=radio]) {
	font-weight:bold;
	text-align: center;
	font-family: 'Open Sans';
	min-height: 46px;
	background: #C9F0ff;
}

#controlLayout input:not([type=button]):not([type=checkbox]):not([type=radio]):focus {
	background: #f2f3f4;
	box-shadow: 0 0 3px #50b6eb;
}

.buttonLabelContainer {
	display: inline-block;
	font-weight:bold;
	color: #222222;
	word-break: break-word;
	padding:0;
	margin:0;
	width: 55px;
	height: 55px;
	line-height: 55px;
}

.buttonLabelText {
	display: inline-block;
	margin: 0;
	padding:0;
	padding-left:4px;
	padding-right:4px;
	position: absolute;
	vertical-align:middle;
	text-align:center;
	top: 50%;
	left: 27.5px;
	-ms-transform: translate(-27.5px, -50%);
	transform: translate(-27.5px, -50%);
	line-height:normal;
	width: 47px;
}

#middleColumn {
	flex: 5;
	flex-direction: column;
	box-orient: vertical;
	display: flex;
	border: none;
	background-image: url('purple-background.png');
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.expandIcon {
	position:relative;
	display: inline-block;
	max-height: 32px;
	max-width: 32px;
	min-width: 24px;
	width: 2vw;
	background-color: #50b6eb;
	opacity: 50%;
	padding: 5px;
	border-radius: 10px;
	margin: 0px 1px 1px 1px;
	line-height: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: background-color 0.15s;
}

.expandIcon > img {
	width: 100%;
}

.expandIcon > input {
	display: inline-block;
	width: 100%;
}

.expandIcon:hover {
	background-color: #a5e0ff!important;
	cursor: pointer;
}

.expandIcon .iconTooltip {
	transform: scale(0) translateY(-100%);
	pointer-events: none;
	display: block;
	position: absolute;
	margin-top: -11px;
	margin-left: -5px;
	background-color:#128AC9;
	border-radius: 8px;
	vertical-align:bottom;
	padding: 8px;
	font-size: calc(1em + 0.5vh);
	font-weight: 500;
	color: white;
	-webkit-animation-name: retractTooltip;
	-webkit-animation-duration: 0.1s;
	animation-name: retractTooltip;
	animation-duration: 0.1s;
	transform-origin: 0 0;
}

.expandIcon:hover .iconTooltip {
	-webkit-transform: translate(0, -100%);
	transform: translate(0, -100%);
	-webkit-animation-name: expandTooltip;
	-webkit-animation-duration: 0.1s;
	animation-name: expandTooltip;
	animation-duration: 0.1s;
	transform-origin: 0 0;
}

@-webkit-keyframes expandTooltip {
	from {
		transform: scale(0) translateY(-100%);
	}
	to {
		transform: scale(1) translateY(-100%);
	}
}

@keyframes expandTooltip {
	from {
		transform: scale(0) translateY(-100%);
	}
	to {
		transform: scale(1) translateY(-100%);

	}
}
@-webkit-keyframes retractTooltip {
	from {
		transform: scale(1) translateY(-100%);
	}
	to {
		transform: scale(0) translateY(-100%);
	}
}

@keyframes retractTooltip {
	from {
		transform: scale(1) translateY(-100%);
	}
	to {
		transform: scale(0) translateY(-100%);
	}
}

.expandIcon:hover .iconTooltip:after {
	z-index: -1;
	position: absolute;
    top: 100%;
	left: 8px;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 8px #128AC9;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
}

.rightAligner .expandIcon .iconTooltip {
	margin-right: 1px;
	margin-left: auto;
	text-align:right;
	right:0;
	transform-origin: 100% 0;
}

.rightAligner .expandIcon:hover .iconTooltip:after {
	z-index: -1;
	position: absolute;
    top: 100%;
    right: 8px;
	left: auto;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 8px #128AC9;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
}

.splitter {
	flex: 0 0 auto;
	width: 18px;
	background: url(vsizegrip.png) center center no-repeat #535353;
	min-height: 200px;
	cursor: col-resize;
}

#filterEpisodes {
	width: calc(100% - 20px - 0.5em);
	margin: 8px;
	margin-right: 0px;
	padding: 0.25em;
	min-height:20px;
	font-size: calc(0.5em + 1vh);
}

#filterContainer {
	position: sticky;
	top: 0;
	padding: 0px;
	background-image: url('light-background.png');
	background-size: auto;

	/* Uncomment to add fade effect under Filter Episodes box. */
	/*
	padding-bottom: 4px;
	-webkit-mask-image: -webkit-gradient(linear, left 78%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	*/
}

#episodeInfo ul {
	list-style: none;
	padding: 0px;
	margin-top: 0px;
	font-size: calc(0.5em + 1vh);
}

#episodeInfo ul li {
	display: block;
	padding: 10px 5px 10px 5px;
	text-align: center;
	cursor: pointer;
	border-top: 1px solid black;
	display: flex;
	transition: background-color 0.2s;
}

#episodeInfo ul li:first-child {
	border-top: none;
}

#episodeInfo ul li:hover {
	background-color: rgba(141, 235, 235, 0.6);
}

.episodeIcons {
	flex: 1;
	max-width: 64px;
	max-height: 64px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.episodeIcons img {
	width: 100%;
	height: auto;
}

.episodeNames {
	flex: 2;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.episodeVersion {
	display: inline-flex;
	color: grey;
	font-style: italic;
	font-size: smaller;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 5px;
	margin-right: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.theLiteralWordStars {
	font-weight: bold;
}

select {
	background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
	background-color:#128AC9;
	background-repeat:no-repeat;
	background-position: right 10px center;
	background-size: 16px 16px;
	color:white;
	padding:4px;
	padding-left:8px;
	padding-right: 36px;
	width:auto;
	font-size:16px;
	font-weight:bold;
	cursor: pointer;
	color:#fff;
	text-align:center;
	text-shadow:0 0 0 #000;
	border-radius:3px;
	-webkit-appearance: none;
	border:none;
	outline:none;
	transition:0.3s ease all;
	width: 100%;
}

select option {
	margin: 100px;
	border:none;
	outline:none;
	padding: 1px;
	font-weight:bold;
}

select:focus, select:active {
	border:none;
	outline:none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

select selected {
	background-color:#1163b0;
}


.flexBoxes {
	flex: 1;
	display: inline-block;
}
.flexBoxes > span {
	display: inline-block;
	width: 100px;
}
#playButtons {
	margin-top: auto;
	margin-bottom: auto;
	padding-bottom: 5px;
}

.saveData {
	font-weight: bold;
	height:32px;
	display:flex;
}

.playerSelect {
	height:32px;
	display:flex;
	width:100%;
}

#deleteSaveSlot {
	background-color: #c75344;
	padding: 5px;
	margin-left: 2px;
	color: white;
	font-size: 1.1em;
	display: flex;
	text-align: center;
	justify-content: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: background-color 0.2s;
}

#deleteSaveSlot:hover {
	background-color: #c73322;
}

.saveButton, #deleteSaveSlot {
	cursor: pointer;
}

.rssLink {
	font-size: 1.1em;
	width: 100%;
	display: inline-block;
	text-align: left;
	padding-left: 0.3em;
	margin-bottom: 0.2em;
	color: #2e3641;
	font-weight: bold;
	font-size: calc(0.5em + 1vh);
	transition: color 0.2s;
}

.rssLink:hover {
	color: #128AC9;
}

.rssEntry:first-child {
	padding-top: 20px;
}

.rssEntry {
	padding: 1em;
	height: fit-content;
	border-bottom: 1px solid black;
	transition: background-color 0.2s;
}


/* rgba(223, 226, 240, 0.6); */
/*
.rssEntry:hover {
	background-color: rgba(186, 243, 242, 0.5);
}
*/

.rssDescription {
	margin: 10px 5px 10px 5px;
}

.descriptionBox {
	display: inline-block;
	font-size: calc(0.5em + 1vh);
	padding-left: 0.3em;
}

.descriptionThumbnailOverlay, .descriptionThumbnailDiv a {
	position: absolute;
	display:inline-block;
	width:100%;
	height:100%;
	left:0;
	top:0;
	right:0;
	border-radius: 8px;
}

.descriptionThumbnailOverlay {
	background: rgba(0,0,0,0);
	transition: background 0.3s;
}

.descriptionThumbnailDiv:hover .descriptionThumbnailOverlay {
	background: rgba(18, 138, 201, 0.25);
}

.descriptionThumbnailDiv {
	position: relative;
	float: left;
	width: fit-content;
	height: fit-content;
	margin-right: 0.3em;
	margin-top: 0.4em;
	margin-left: -0.1em;
	margin-bottom: 0.1em;
	padding:0;
}

.descriptionThumbnailDiv img {
	display: block;
	max-width: 100%;
	max-height: 7.3em;
	border-radius: 8px;
	border: 2px solid #555;
}

.percentProgressBG {
	background-color: #128AC944;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	height:calc(0.5em + 1vh + 4px);
	min-width:64px;
}

.percentProgress {
	background-color: #50b6eb;
	width:0%;
	height:100%;
	max-width:100%;
}

.percentProgressText {
	text-align: center;
	line-height: calc(0.5em + 1vh + 4px);
	height: calc(0.5em + 1vh + 4px);
	margin-top:calc(-0.5em - 1vh - 4px);
}

#achievementCenter {
	display: none;
	overflow: auto;
	height: inherit;
	/* background: linear-gradient(#ededef, #cdcddf); */
}

#achievementCenterEntries {
	display: flex;
	margin: 20px;
	padding: 20px;
	height: fit-content;
	width: 100%;
}

.conditionHeader {
	margin-left: 10px;
	margin-top: 14px;
	font-weight: bold;
	clear: both;
}

.conditionDescription {
	background-color: #00000044;
	display: flex;
	justify-content: space-between;
	border: 4px;
	padding: 4px;
	padding-left: 8px;
	padding-bottom: 6px;
	margin: 4px;
	margin-left: 0px;
	overflow:auto;
}

#achievementIcons {
	margin-right: 20px;
	width: 100%;
	position: sticky;
	top:40px;
}

#progressBarBackground {
	width: 100%;
	height: 16px;
	background-color: darkslategrey;
  }

#progressBarFill {
	width: 0%;
	height: 16px;
	background-color: seagreen;
	z-index: 1;
}

#progressText {
	color:white;
	text-align: center; /* To center it horizontally (if you want) */
	line-height: 16px; /* To center it vertically */
	font-size: 12px;
	height: 16px;
	margin-top:-16px;
	z-index: 2;
}

.achievementTitle {
	font-size: 20px;
	font-weight: bolder;
	margin-left: 8px;
	margin-bottom: 10px;
}

.lockedAchievementImage {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.overallAchievementDescription {
	margin: 4px;
	margin-left: 8px;
	margin-bottom: 8px;
}

.individualAchievement {
	background-color: #664444;
	/* border: 2px solid lightgray; */
	border-radius: 8px;
	margin-bottom: 20px;
	padding: 10px;
	color: whitesmoke;
}

.achievementList {
	width: 100%;
}

.achievementEpisodeTitle {
	font-weight: bold;
	padding-bottom: 4px;
	font-size: calc(0.5em + 0.4vw);
	word-wrap: break-word;
}

@media screen and (min-width: 2000px) {
  .achievementEpisodeTitle {
	font-size: calc(0.5em + 8px);
  }
}

#achievementPadder {
	width: calc(10% + 20px);
	max-width: 128px;
	margin-right: 20px;
	position: relative;
}

#achievementLists {
	flex: auto;
	margin-left: 0px;
	width: 100%;
	display: flex;
}

#saveButtonsBox, #playerButtons, #gameConfigTab {
	display: none;
}


#gameConfigTab, #iframer, #achievementCenter {
	border-style: none;
}


#gameConfigTab {
	height: 100%;
	flex-direction: column;
	margin-left: 0px;
	flex: 1;
}
#otherOptions {
	display: inline-flex;
	flex-direction: column;
	text-align: left;
	padding: 20px;
	padding-top: 10px;
	background: #ffffff66;
}
#otherOptions div {
	font-size: 1.5em;
	font-weight: bold;
}
#otherOptions div span table td tr {
	display: inline-block;
	text-align: left;
	width: 300px;
}
#controlLayout {
	width: 100%;
	max-width: 1280px;
	min-width: 600px;
	margin: auto;
}
#controlLayout svg {
	width: 100%;
	height: auto;
}
#saveControls {
	padding: 5px 10px 5px 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}


.controlLabel {
	font-size: 1.5em;
	font-weight: bold;
	text-align: left;
	padding:10px;
}

.radioSelection input[type=radio] {
	position: absolute;
	opacity: 0;
}

.radioSelection label {
	display:block;
	font-weight: bold;
	text-align:center;
	font-size: 1.5em;
	cursor: pointer;
	margin:0px;
	padding: 10px;
	padding-top: 14px;
	padding-bottom: 14px;
	background: #eee;
	transition: background-color 0.2s;
}

.radioSelection input[type=radio]:checked + label{
	background: #50b6eb;
}

.radioSelection input[type=radio]:hover + label{
	background: #a5e0ff;
}

.radioSelection {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkboxContainer {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkboxContainer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: -5px;
	left: 0;
	height: 25px;
	width: 25px;
	border-radius: 5px;
	background-color: #eee;
	transition: background-color 0.2s;
}

.checkboxContainer:hover input ~ .checkmark {
	background-color: #a5e0ff;
}

.checkboxContainer input:checked ~ .checkmark {
	background-color:  #50b6eb;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.checkboxContainer input:checked ~ .checkmark:after {
	display: block;
}

.checkboxContainer .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
